#post {
  margin-top: 5rem;
  background-color: #fff;
  padding-bottom: 5rem;
  height: auto;
}

.quill {
  min-height: 45vh;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom: 1px hidden #fff;
  background-color: #fff;
  border: none;
}

.ql-toolbar {
  border: none;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background: linear-gradient(45deg, #e0eafc, #cfdef3);
}
.ql-container {
  border: none !important;
}
.editor-preview {
  margin-top: 1rem;
  background-color: #fff;
}

/*  INPUTS STYLING!!!! */
.editor-forms {
  margin-bottom: 1rem;
}
.input_form {
  height: auto;
  display: flex;
  flex-direction: column;
}

.input-form__user-details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-form__user-details .input-text:first-child {
  margin-right: 1rem;
}
.input-text {
  /* box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); */

  width: 100%;
  height: 6rem;
  position: relative;
  overflow: hidden;
}

.input-text input {
  outline: none;
  width: 100%;
  font-size: 2rem;
  height: 100%;
  padding-left: 2rem;
  border: none;
}
.input-text label {
  position: absolute;
  left: 0;
  border-bottom: 1px black solid;
  bottom: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.input-text input[type='text'] {
  background-color: unset;
}

.input-text label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: -1px;
  border-bottom: 4px var(--color-succes) solid;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.input-text__title {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.input-text input:focus + .input-text__label .input-text__title,
.input-text input:valid + .input-text__label .input-text__title {
  transform: translateY(-150%);
  font-size: 1.4rem;
  color: var(--color-succes);
}

.input-text input:focus + .input-text__label::after,
.input-text input:valid + .input-text__label::after {
  transform: translateX(0);
}
.input-form__article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-form__btns {
  display: flex;
  margin-top: 0.5rem;
  width: 100%;
  justify-content: flex-end;
  height: auto;
}

.h2-modal {
  width: 100%;
}
.close-modal {
  position: absolute;
  right: 2rem;
  top: 4rem;
}
